<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.aaronchan.ndpresentation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HandlerCreationActivity"
            android:label="@string/title_activity_handler_creation"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITy"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".activity.HandlerThreadActivity"
            android:label="@string/title_activity_handler_thread"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.AsyncTaskActivity"
            android:label="@string/title_activity_async_task"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.IntentServiceActivity"
            android:label="@string/title_activity_intent_service"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>

        <service android:name=".service.SimpleService"/>
        <service
            android:name=".service.MessengerService"
            android:process=":remote"/>

        <activity
            android:name=".activity.TouchIgnoreActivity"
            android:label="@string/title_activity_touch_ignore"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.TouchConsumedActivity"
            android:label="@string/title_activity_touch_consumed"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.TouchInterceptedActivity"
            android:label="@string/title_activity_touch_intercepted"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.ViewDefaultAttrActivity"
            android:label="@string/title_activity_view_default_attr"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.aaronchan.ndpresentation.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.EventDispatch5Activity"
            android:label="@string/title_activity_event_dispatch5"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.aaronchan.ndpresentation.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.MessengerActivity"
            android:label="@string/title_activity_messenger"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.aaronchan.ndpresentation.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.ScrollConflict1Activity"
            android:label="@string/title_activity_scroll_conflict1"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.aaronchan.ndpresentation.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.ScrollConflict2Activity"
            android:label="@string/title_activity_scroll_conflict2"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.aaronchan.ndpresentation.activity.MainActivity"/>
        </activity>
    </application>

</manifest>